<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/" method="post">
      <p>Please type to convert: <input type="text" name="words"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
